.content-text {
    font-family: "DM Sans", sans-serif;
    margin-top: 2vh;
    margin-left: 4vh;
    margin-right: 4vh;
    text-align: justify;
}

.content-text a {
    color: #2B2B2B;
    text-decoration: underline;
}