.post {
    background-color: #D9D9D9;
    width: 95vw;
    height: 40vh;
    margin-top: 5vh;
    margin-left: 4vh;
    margin-bottom: 2vh;
}

.post p {
    padding-top: 2vh;
    padding-left: 2vh;
    font-family: "DM Sans", sans-serif;
}

.post-title {
    font-size: 20px;
}

.post-description {
    text-align: justify;
    padding-right: 2vh;
}

.post-button {
    margin-left: 2vh;
    margin-top: 4vh;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    background-color: #2B2B2B;
    color: white;
    height: 4vh;
    border: 1px solid #2B2B2B;
    border-radius: 1vw 1vw 1vw 1vw;
    width: 10vw;
}